[submodule "libdatachannel"]
	path = libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
[submodule "djinni"]
	path = djinni
	url = https://github.com/Snapchat/djinni.git
[submodule "android-openssl-cmake"]
	path = android-openssl-cmake
	url = https://github.com/HackWebRTC/android-openssl-cmake.git
[submodule "OpenSSL-for-iPhone"]
	path = OpenSSL-for-iPhone
	url = https://github.com/x2on/OpenSSL-for-iPhone.git
[submodule "OpenSSL-for-macOS"]
	path = OpenSSL-for-macOS
	url = https://github.com/krzyzanowskim/OpenSSL.git
