[submodule "libdatachannel"]
	path = libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
[submodule "djinni"]
	path = djinni
	url = https://github.com/Snapchat/djinni.git
[submodule "android-openssl-cmake"]
	path = android-openssl-cmake
	url = https://github.com/HackWebRTC/android-openssl-cmake.git
